@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles for dropdown menu */
#dropdownNavbar {
    display: none;
}

#dropdownNavbar.show {
    display: block;
}

.lining {
    position: relative;
    text-decoration: none;
}

.lining::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.1em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.lining:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.more-button:after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 8px;
    transition: 0.5s;
}

.more-button:hover {
    padding-right: 24px;
    padding-left: 12px;
}

.more-button:hover:after {
    opacity: 1;
    right: 10px;
}

/*  */
.line {
    width: 82.5px;
    height: 4px;
    margin-left: 8px;
    margin-top: 20px;
    background-color: #780000;
    transform: skewX(-60deg);
}
.raise:hover,
.raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}
.more-button:after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 8px;
    transition: 0.5s;
}

.more-button:hover {
    padding-right: 24px;
    padding-left: 12px;
}

.more-button:hover:after {
    opacity: 1;
    right: 10px;
}
.slide {
    background: linear-gradient(to right, #780000 50%, rgb(250, 249, 249) 50%);
    background-size: 200% 100%;
    background-position: right;
}
.slide:hover {
    background-position: left;
    transition: ease-in-out 0.5s;
    color: #fdf0d5;
}
.effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    /* background-color: - add your own background-color */
    padding: 20px 0px;
    width: 150px;
    overflow: hidden;
}

/* effect-1 styles */

.effect.effect-1 {
    transition: all 0.2s linear 0s;

    &:before {
        content: "🡪";
        font-family: FontAwesome;
        font-size: 15px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        top: 0;
        opacity: 0;
        height: 100%;
        width: 40px;
        transition: all 0.2s linear 0s;
    }

    &:hover {
        text-indent: -20px;

        &:before {
            opacity: 1;
            text-indent: 0px;
        }
    }
}
.hover-shadow {
    display: inline-block;
    position: relative;
    transition-duration: defaultDuration;
    transition-property: transform;

    &:before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: "";
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: radial-gradient(
            ellipse at center,
            rgba(0, 0, 0, 0.35) 0%,
            rgba(0, 0, 0, 0) 80%
        );
        transition-duration: $defaultDuration;
        transition-property: transform opacity;
    }

    &:hover {
        transform: translateY(-6px);
        animation-name: hover;
        animation-duration: 1.5s;
        animation-delay: defaultDuration;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        &:before {
            opacity: 0.4;
            transform: translateY(16px);
            animation-name: hover-shadow;
            animation-duration: 1.5s;
            animation-delay: 0.3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }
}
